/*
	ATTENTION: This file is not compiled when building gluon.
	The compiled version is at ../files/lib/gluon/controller/www/static/controller.css

	Use sass like this to update it:

	sass --sourcemap=none -C -t compressed sass/controller.scss files/lib/gluon/controller/www/static/controller.css

	When commiting changes to this file make sure to commit the respective
	changes to the compiled version within the same commit!
*/

html, body, div, span,
h1, h2, h3,
dl, dt, dd,
canvas, header,
table, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}


body {
	font-family: Roboto, Lucida Grande, sans, Arial;
	color: rgba(0, 0, 0, 0.87);
	font-size: 14px;
	line-height: 1;
	height: 100%;
	width: 100%;
}


a {
	color: rgba(220, 0, 103, 0.87);
	text-decoration: none;

	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;

	&:hover {
		text-decoration: underline;
	}
}

h1 {
	font-weight: bold;
}

h2 {
	font-size: 16px;
	margin-bottom: 16px;
	color: rgba(0, 0, 0, 0.54);
}

h3 {
	font-size: 15px;
	margin-top: 16px;
	margin-bottom: 8px;
	color: rgba(0, 0, 0, 0.54);
}

.container {
	min-height: 100vh;
	background: rgb(253, 253, 253);
	display: flex;
	flex-direction: row;
	align-items: stretch;

	.login {
		width: 400px;
		margin: 50px auto;
		text-align: center;
		& div {
			margin: 20px 0;
			input {
				width: 94%;
			}
			.gluon-button-submit {
				width: 50%;
			}
		}

		.error {
			color: red;
		}
	}

	& > .sidebar {
		width: 300px;
		padding: 0;
		line-height: 1.2em;
		border-right: 2px solid #f7f7f7;
		//text-align: center;

		& > h1 {
			font-size: 20pt;
			margin: 30px 0;
			padding: 0.7em 40px;
			font-weight: normal;
		}

		& > .remotes {
			& > .remote:first-child {
				border-top: 1px solid #ddd;
			}

			& > .remote {
				border-bottom: 1px solid #ddd;
				padding: 20px 0
			}
		}

		& > a.manage-nodes {
			display: block;
			margin-top: 20px;
		}

		ul.nav {

			&, ul {
				padding: 0;
			}

			li {
				list-style: none;
				a {
					display: block;
					padding: 1em 40px;

					&:hover {
						background-color: #f7f7f7;
						text-decoration: none;
					}

					&.active {
						background-color: #f7f7f7;
					}

					&.active-light {
						background-color: #f7f7f7;
					}
				}

				li {
					a {
						padding: 1em 60px;
					}
					li a {
						padding: 1em 80px;
					}
				}
			}
		}

	}

	& > .content {
		flex: 1;
		flex-direction: column;
		display: flex;
		align-items: stretch;
		padding-left: 50px;
		padding-top: 30px;

		li {
			line-height: 1.5em;
		}

		h1 {
			font-size: 1.5em;
			line-height: 3em;
			font-weight: normal;
		}

		h2 {
			font-weight: normal;
		}

		div {
			margin-bottom: 2em;
		}

		& > iframe {
			flex: 1;
			border: 0px;
			margin-left: -50px;
			margin-top: -30px;
		}
	}

	& > .frame {
		flex: 1;
		border-style: solid;
		border-color: rgba(0, 0, 0, 0.12);

		box-sizing: border-box;
		padding: 16px;

		& + .frame {
			border-width: 0 0 0 1px;
		}

		&-wide {
			flex: 2;
		}
	}
}

table {
	td, th {
		padding: 0.7em 0.6em;
		border-bottom: 1px solid #eee;
	}
}
